{{- if (and (not .Params.disableComments) (not .Site.Params.disableAllComments)) }}
{{- $giscus := .Site.Params.giscus }}
{{- if $giscus }}
<div class="comments">
  <script src="https://giscus.app/client.js"
    data-repo="{{ $giscus.repo }}"
    data-repo-id="{{ $giscus.repoId }}"
    data-category="{{ $giscus.category }}"
    data-category-id="{{ $giscus.categoryId }}"
    data-mapping="{{ default "pathname" $giscus.mapping }}"
    data-strict="{{ default "0" $giscus.strict }}"
    data-reactions-enabled="{{ default "1" $giscus.reactionsEnabled }}"
    data-emit-metadata="{{ default "0" $giscus.emitMetadata }}"
    data-input-position="{{ default "bottom" $giscus.inputPosition }}"
    data-theme="{{ default "preferred_color_scheme" $giscus.theme }}"
    data-lang="{{ default .Lang $giscus.lang }}"
    crossorigin="anonymous"
    async>
  </script>
</div>
{{- end }}
{{- end }}
